<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- <link rel="stylesheet" href="blobz.min.css">https://toruskit.com/tools/blobz/ -->
    <!-- <link rel="stylesheet" href="styles.css"> -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Signika+Negative&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/css/bootstrap-grid.min.css"
        integrity="sha512-JQksK36WdRekVrvdxNyV3B0Q1huqbTkIQNbz1dlcFVgNynEMRl0F8OSqOGdVppLUDIvsOejhr/W5L3G/b3J+8w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>signup</title>
    {% load static %}
    <!-- <link rel="stylesheet" href="{% static 'styles.css'%}"> -->
    <link rel="stylesheet" href="{% static 'blobz.min.css'%}">
</head>

<body style="background-color:#2d2926ff;">

    <!-- {% if messages %}
    <div style="display: flex;justify-content: center;align-items: center;text-align: center;position:absolute;background-color: rgb(240, 118, 112);z-index: 3;width:60%;left:20%;right:20%;box-shadow: 10px 0px 10px 5px #000000;">
        {% for message in messages %}
        <h3>{{message}}</h3>
        {% endfor %}
    </div>
    {% endif %} -->

    <!-- {% if messages.info %}
    <div style="display: flex;justify-content: center;align-items: center;text-align: center;position:absolute;background-color: rgb(112, 240, 118);z-index: 3;width:60%;left:20%;right:20%;box-shadow: 10px 0px 10px 5px #000000;">
        {% for message in messages %}
        <h3>{{message}}</h3>
        {% endfor %}
    </div>
    {% endif %} -->

    {% if messages %}
    {% for message in messages %}
    <div class="alert {{ message.tags }} m-2" id="msg" role="alert"
        style="z-index:3;position:absolute;width:60%;left:20%;right:20%;text-align:center;">
        {{ message }}
    </div>
    {% endfor %}
    {% endif %}


    <div class="tk-blob" style="--time: 20s; --amount: 5; --fill: #56cbb9;width:10%;">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 747.2 726.7">
            <path
                d="M539.8 137.6c98.3 69 183.5 124 203 198.4 19.3 74.4-27.1 168.2-93.8 245-66.8 76.8-153.8 136.6-254.2 144.9-100.6 8.2-214.7-35.1-292.7-122.5S-18.1 384.1 7.4 259.8C33 135.6 126.3 19 228.5 2.2c102.1-16.8 213.2 66.3 311.3 135.4z">
            </path>
        </svg>
    </div>



    <div class="tk-blob" style="--fill: #ff4bde;width:17%;position: absolute;left: 5%;bottom:10%">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 319.2 356.7">
            <path
                d="M271.9 50.3c30.6 29.3 51.3 75.5 46.6 123.9-4.6 48.4-34.6 99-86.5 136.3s-125.6 61.4-168.3 35.3S9.4 243.5 3.4 177.3C-2.7 111.2-3.1 55.2 24 26.7 51.1-1.9 105.9-2.9 153.4 2.8c47.6 5.8 88 18.2 118.5 47.5z">
            </path>
        </svg>
    </div>



    <div class="tk-blob" style="--fill: #f4ae36;width: 35%;position:absolute;left:30%;top:10%">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 341.4 374.7">
            <path
                d="M309.9 70.6c37.8 52.7 39.8 128.7 15.4 184.1-24.3 55.4-75 90.1-125.4 107.4-50.4 17.4-100.4 17.4-136.2-3.3-35.7-20.7-57.2-62-62.4-102.1-5.2-40.2 5.8-79 29.1-128.3C53.6 79.1 89.1 19.3 143.7 4.1 198.3-11.2 272 18 309.9 70.6z">
            </path>
        </svg>
    </div>

    <div class="tk-blob" style="--fill: #2ebba6;width:25%;position:absolute;left:65%;bottom:38%">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 274 303.2">
            <path
                d="M260.2 41.4c20 29.2 14.6 74.5 7.2 124.4-7.3 49.9-16.6 104.5-49.2 126-32.5 21.6-88.4 10.2-132-15.2s-75-64.7-83.6-107.8C-6.1 125.7 8 79 36.3 47.8 64.5 16.7 107 1.3 150.9.1c43.9-1.1 89.3 12 109.3 41.3z">
            </path>
        </svg>
    </div>

    <div class="tk-blob" style="--fill: #07ff83;width:35%;position:absolute;left:38%;top:20%">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 428.4 394.6">
            <path
                d="M369.4 109.2c43.2 55.3 71.5 121.4 53.4 167.3-18.2 45.8-82.8 71.4-140.5 91.7-57.8 20.4-108.7 35.4-152.9 20.3C85.1 373.4 47.6 328.3 23.2 267c-24.5-61.2-35.8-138.6-2.5-191.7C54.1 22.2 132-6.6 200 1.3c68 7.9 126.1 52.5 169.4 107.9z">
            </path>
        </svg>
    </div>

    <div class="tk-blob" style="--fill: #e91eac;width:15%;position:absolute;right:5%;bottom:8%">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 451.6 385.5">
            <path
                d="M381.4 86.5c43.5 48 77.5 110.3 68.8 168.7-8.6 58.4-59.9 113-114.8 126.7-54.9 13.6-113.4-13.7-176.6-40.6-63.1-27-130.7-53.5-151.5-102.8-20.9-49.2 5.1-121.1 50.3-169.5C102.8 20.7 167.1-3.9 225.9.5c58.8 4.5 111.9 38.1 155.5 86z">
            </path>
        </svg>
    </div>

    <div class="tk-blob" style="--fill: #56cbaa;width:5%;position:absolute;right:4%;top:2%">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 371.5 297.7">
            <path
                d="M286.9 54.2c42.7 34.9 89.4 85.3 84.2 130.4-5.2 45.1-62.1 84.7-118 102.3S142.3 300 94.8 278C47.2 256 6.9 216.6.8 173.9S22.7 85.2 56 52.4C89.4 19.6 127.9.1 166.6 0s77.6 19.2 120.3 54.2z">
            </path>
        </svg>
    </div>

    <div class="tk-blob" style="--fill: #e91e5e;width:23%;position:absolute;left:8%;top:10%;">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 451.6 385.5">
            <path
                d="M381.4 86.5c43.5 48 77.5 110.3 68.8 168.7-8.6 58.4-59.9 113-114.8 126.7-54.9 13.6-113.4-13.7-176.6-40.6-63.1-27-130.7-53.5-151.5-102.8-20.9-49.2 5.1-121.1 50.3-169.5C102.8 20.7 167.1-3.9 225.9.5c58.8 4.5 111.9 38.1 155.5 86z">
            </path>
        </svg>
    </div>

    <div class="tk-blob" style="--fill: #36f4bb;width:32%;position:absolute;left:15%;top:50%;">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 341.4 374.7">
            <path
                d="M309.9 70.6c37.8 52.7 39.8 128.7 15.4 184.1-24.3 55.4-75 90.1-125.4 107.4-50.4 17.4-100.4 17.4-136.2-3.3-35.7-20.7-57.2-62-62.4-102.1-5.2-40.2 5.8-79 29.1-128.3C53.6 79.1 89.1 19.3 143.7 4.1 198.3-11.2 272 18 309.9 70.6z">
            </path>
        </svg>
    </div>

    <div class="tk-blob" style="--fill: #5a65c9;width:28%;position:absolute;left:45%;top: 80%;">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 418.7 325.5">
            <path
                d="M363.8 52.4c42.8 41.3 68 108.8 47.9 153.5-20.1 44.8-85.6 66.7-143 87.4-57.4 20.8-106.8 40.3-156.7 28.7C62 310.4 11.5 267.7 1.8 217.7c-9.7-49.9 21.5-107 61.5-147.6C103.2 29.5 152 5.3 206.4.8c54.5-4.6 114.7 10.4 157.4 51.6z">
            </path>
        </svg>
    </div>

    <div class="tk-blob" style="--fill: #fff707;width:9%;position: absolute;right:5%;top:98%">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 428.4 394.6">
            <path
                d="M369.4 109.2c43.2 55.3 71.5 121.4 53.4 167.3-18.2 45.8-82.8 71.4-140.5 91.7-57.8 20.4-108.7 35.4-152.9 20.3C85.1 373.4 47.6 328.3 23.2 267c-24.5-61.2-35.8-138.6-2.5-191.7C54.1 22.2 132-6.6 200 1.3c68 7.9 126.1 52.5 169.4 107.9z">
            </path>
        </svg>
    </div>


    <div class="tk-blob" style="--fill: #c35ac9;width:28%;position:absolute;top: 110%;">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 418.7 325.5">
            <path
                d="M363.8 52.4c42.8 41.3 68 108.8 47.9 153.5-20.1 44.8-85.6 66.7-143 87.4-57.4 20.8-106.8 40.3-156.7 28.7C62 310.4 11.5 267.7 1.8 217.7c-9.7-49.9 21.5-107 61.5-147.6C103.2 29.5 152 5.3 206.4.8c54.5-4.6 114.7 10.4 157.4 51.6z">
            </path>
        </svg>
    </div>

    <div class="tk-blob" style="--fill: #36f4bb;width:32%;position:absolute;left:50%;top:120%;">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 341.4 374.7">
            <path
                d="M309.9 70.6c37.8 52.7 39.8 128.7 15.4 184.1-24.3 55.4-75 90.1-125.4 107.4-50.4 17.4-100.4 17.4-136.2-3.3-35.7-20.7-57.2-62-62.4-102.1-5.2-40.2 5.8-79 29.1-128.3C53.6 79.1 89.1 19.3 143.7 4.1 198.3-11.2 272 18 309.9 70.6z">
            </path>
        </svg>
    </div>

    <div class="tk-blob" style="--fill: #ffb007;width:9%;position: absolute;left:10%;top:135%">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 428.4 394.6">
            <path
                d="M369.4 109.2c43.2 55.3 71.5 121.4 53.4 167.3-18.2 45.8-82.8 71.4-140.5 91.7-57.8 20.4-108.7 35.4-152.9 20.3C85.1 373.4 47.6 328.3 23.2 267c-24.5-61.2-35.8-138.6-2.5-191.7C54.1 22.2 132-6.6 200 1.3c68 7.9 126.1 52.5 169.4 107.9z">
            </path>
        </svg>
    </div>


    <div
        style="background: transparent;border:10px;border-color: #0f1316;border-style:solid;height: auto;width:56%;position: absolute;left:22%;top: 30%;">
        <h2 style="font-family: 'Signika Negative', sans-serif;text-align: center;font-size: 300%;">Welcome</h2>
        <!-- signup form starts here........................................................................................................... -->
        <form action="/ecbapp/signup" method="post">
            {% csrf_token %}

            <div>

                <div class="row" style="margin-bottom:1%;">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-5" style="text-align:left;">
                        <label for="" style="font-family: 'Orbitron', sans-serif;font-size: larger;">Enter
                            your
                            Roll no :</label>
                    </div>

                    <div class="col-lg-5" style="text-align: center;">
                        <input type="text" name="username" class="username" placeholder="Enter your rollno" required
                            style="font-family: 'Audiowide', sans-serif;">
                    </div>
                </div>

                <div class="row" style="margin-bottom:1%;">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-5" style="text-align:left;">
                        <label for="" style="font-family: 'Orbitron', sans-serif;font-size: larger;">Enter
                            first name:</label>
                    </div>

                    <div class="col-lg-5" style="text-align: center;">
                        <input type="text" name="fname" class="fname" placeholder="Enter first name" required
                            style="font-family: 'Audiowide', sans-serif;">
                    </div>
                </div>

                <div class="row" style="margin-bottom:1%;">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-5" style="text-align:left;">
                        <label for="" style="font-family: 'Orbitron', sans-serif;font-size: larger;">Enter
                            last name:</label>
                    </div>

                    <div class="col-lg-5" style="text-align: center;">
                        <input type="text" name="lname" class="lname" placeholder="Enter last name" required
                            style="font-family: 'Audiowide', sans-serif;">
                    </div>
                </div>

                <div class="row" style="margin-bottom:1%;">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-5" style="text-align:left;">
                        <label for="" style="font-family: 'Orbitron', sans-serif;font-size: larger;">Enter
                            your
                            email:</label>
                    </div>

                    <div class="col-lg-5" style="text-align: center;">
                        <input type="email" name="email" class="email" placeholder="Enter your email" required
                            style="font-family: 'Audiowide', sans-serif;">
                    </div>
                </div>

                <div class="row" style="margin-bottom:1%;">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-5" style="text-align:left;">
                        <label for="" style="font-family: 'Orbitron', sans-serif;font-size: larger;">Enter
                            password:</label>
                    </div>

                    <div class="col-lg-5" style="text-align: center;">
                        <input type="password" name="pass1" class="pass1" placeholder="Enter password" required
                            style="font-family: 'Audiowide', sans-serif;">
                    </div>
                </div>

                <div class="row" style="margin-bottom:1%;">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-5" style="text-align:left;">
                        <label for="" style="font-family: 'Orbitron', sans-serif;font-size: larger;">Confirm
                            password:</label>
                    </div>

                    <div class="col-lg-5" style="text-align: center;">
                        <input type="password" name="pass2" class="pass2" placeholder="Confirm password" required
                            style="font-family: 'Audiowide', sans-serif;">
                    </div>
                </div>

                <div class="row">
                    <div class="col"></div>
                    <div class="col" style="text-align: center;">
                        <button type="submit"
                            style="padding:4% 8% 4% 8%;font-family: 'Audiowide', sans-serif;font-size: 100%;">Signup</button>
                    </div>
                    <div class="col"></div>
                </div>

            </div>
        </form>

        <hr style="border-style:solid;border-color:#000000">

        <div class="row">
            <div class="col" style="text-align:center;">
                <h3 style="font-family: 'Audiowide', sans-serif;font-size: medium;">Don't have an account, Create one :
                </h3>
            </div>
            <div class="col container"
                style="text-align:center;display: flex;justify-content: center;align-items: center;">
                <button type="submit" style="padding:2% 6% 2% 6%;font-family: 'Audiowide', sans-serif;font-size: 100%;">
                    <a href="home">unknown</a></button>
            </div>
        </div>

    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script><!-- link to dissapesring function to work  -->
    <script>
        setTimeout(function () {
            if ($('#msg').length > 0) {
                $('#msg').remove();
            }
        }, 3000) 
    </script>
</body>

</html>